Repository pcdshub/lcls-plc-lfe-vac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcdshub/vacuum-sme, @pcdshub/xbd-members, @pcdshub/twincat-reviewers, @pcdshub/software-admin

.github/CODEOWNERS:

# default group
* @pcdshub/vacuum-sme @pcdshub/xbd-members 

# language-specific group(s)
## TWINCAT files
*.tsproj @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.plcproj @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.tmc @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.tpr @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.xti @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.TcTTO @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.TcPOU @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.TcDUT @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.TcGVL @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.TcVis @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.TcVMO @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 
*.TcGTLO @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/xbd-members 

# github folder holds administrative files
.github/** @pcdshub/software-admin

Add TV8L0_UM6_GCC_01 function and IOs
  plc_lfe_vac/plc_lfe_vac/_Config/IO/Device 1 (EtherCAT)/PLC_E0_EK1200/PLC_E12_EK1122_H11_H12.xti
  plc_lfe_vac/plc_lfe_vac/_Config/IO/Device 1 (EtherCAT)/PLC_E0_EK1200/PLC_E12_EK1122_H11_H12/XRT_EP2624_00_01.xti
  plc_lfe_vac/plc_lfe_vac/_Config/IO/Device 1 (EtherCAT)/PLC_E0_EK1200/PLC_E12_EK1122_H11_H12/XRT_EP3174_00_02.xti
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.tsproj
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/GVLs/GVL_Devices.TcGVL
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/POUs/MAIN.TcPOU
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.plcproj
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.tmc
Owners: @pcdshub/twincat-reviewers, @pcdshub/vacuum-sme, @pcdshub/xbd-members

Run pre-commet
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/GVLs/GVL_Devices.TcGVL
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/POUs/MAIN.TcPOU
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.tmc
Owners: @pcdshub/twincat-reviewers, @pcdshub/vacuum-sme, @pcdshub/xbd-members

change the TV8L0_UM6_GCC_01 interlock gauge to be the xrt pseudo gauge.
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.tsproj
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/POUs/MAIN.TcPOU
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.tmc
Owners: @pcdshub/twincat-reviewers, @pcdshub/vacuum-sme, @pcdshub/xbd-members

Updating ffos for BT2L0 and PC2L1
  plc_lfe_vac/iocBoot/ioc-plc-lfe-vac/envPaths
  plc_lfe_vac/iocBoot/ioc-plc-lfe-vac/plc_lfe_vac.archive
  plc_lfe_vac/iocBoot/ioc-plc-lfe-vac/plc_lfe_vac.db
  plc_lfe_vac/iocBoot/ioc-plc-lfe-vac/st.cmd
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.tsproj
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/POUs/MAIN.TcPOU
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.tmc
Owners: @pcdshub/vacuum-sme, @pcdshub/xbd-members, @pcdshub/twincat-reviewers

Tagging version v4.1.0
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/Version/Global_Version.TcGVL
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.plcproj
Owners: @pcdshub/twincat-reviewers, @pcdshub/vacuum-sme, @pcdshub/xbd-members

Auto-update from Github Actions Workflow
  master/_sources/plc_lfe_vac_boxes.rst.txt
  master/_sources/plc_lfe_vac_ethercat.rst.txt
  master/_sources/plc_lfe_vac_links.rst.txt
  master/_sources/plc_lfe_vac_plc_lfe_vac_epics.rst.txt
  master/_sources/plc_lfe_vac_plc_lfe_vac_source.rst.txt
  master/_sources/plc_lfe_vac_plc_lfe_vac_summary.rst.txt
  master/_sources/plc_lfe_vac_pragmas.rst.txt
  master/index.html
  master/plc_lfe_vac_boxes.html
  master/plc_lfe_vac_ethercat.html
  master/plc_lfe_vac_links.html
  master/plc_lfe_vac_plc_lfe_vac_epics.html
  master/plc_lfe_vac_plc_lfe_vac_source.html
  master/plc_lfe_vac_plc_lfe_vac_summary.html
  master/plc_lfe_vac_pragmas.html
  master/searchindex.js
Owners: @pcdshub/vacuum-sme, @pcdshub/xbd-members

Re-push the old branch addXRTgauge
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.tsproj
  plc_lfe_vac/plc_lfe_vac/plc_lfe_vac/plc_lfe_vac.tmc
Owners: @pcdshub/twincat-reviewers, @pcdshub/vacuum-sme, @pcdshub/xbd-members
